shamefully-hoist=true
strict-peer-dependencies=false
side-effects-cache=false
shell-emulator=true
registry=https://registry.npmjs.org/
home=https://www.npmjs.org
@klook:registry=https://knpm.klook.io/
//knpm.klook.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJrbG9va3VzZXIxIl0sIm5hbWUiOiJrbG9va3VzZXIxIiwiZ3JvdXBzIjpbImtsb29rdXNlcjEiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJrbG9va3VzZXIxIl0sImlhdCI6MTYwMzI2MTU5NCwibmJmIjoxNjAzMjYxNTk0LCJleHAiOjQ3NTkwMjE1OTR9.ozCIv4PITRUE4V34nuTEu-ZJBzckbEvvNQABt-l1mlk
