shamefully-hoist=true
strict-peer-dependencies=false
side-effects-cache=false
shell-emulator=true
registry=https://registry.npmjs.org/
home=https://www.npmjs.org
@klook:registry=https://knpm.klook.io/
